.checkbox {
  margin-bottom: 30px;
}

.checkbox__label {
  position: relative;

  font-weight: 400;

  color: $secondaryColor;
  @media (max-width: 479px) {
    font-size: 12px;
    line-height: 1.15;
  }

  @media (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input--visually-hidden {
  @extend %visually-hidden;
}

.checkbox__icon {
  border-color: $primaryColor;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  margin-right: 6px;

  fill: $primaryBackground-color;

  .checkbox__input:checked + & {
    background-color: $accentColor;
    background-origin: border-box;
    border-color: transparent;
    border: none;
  }
}

.checkbox__link {
  color: $accentColor;
  margin-left: 2px;
  @media (max-width: 479px) {
    font-size: 12px;
    line-height: 1.15;
  }
}
