.menu-button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: $accentColor;
  }
  @include fill();

  & .icon__cross {
    display: none;
  }
  @media (min-width: $tablet) {
    display: none;
  }
}

.icon__cross {
  @media (max-width: 767px) {
    .menu-button--is-open & {
      display: block;
    }
  }
}

.icon__menu {
  @media (max-width: 767px) {
    .menu-button--is-open & {
      display: none;
    }
  }
}
