.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $secondaryBackground-color;
  color: $primaryBackground-color;

  @media (max-width: 1199px) {
    text-align: center;
  }
}

.page-footer__container {
  @media (min-width: $mobile) {
    @include container($mobile);
  }
  @media (min-width: $tablet) {
    @include container($tablet);
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @include container($desktop);
}

.page-footer__box {
  @media (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
