.portfolio {
  @include section(120px, 60px);
  @media (min-width: $desktop) {
    @include section(174px, 94px);
  }
}

.portfolio__container {
  @media (min-width: $mobile) {
    @include container($mobile);
  }
  @media (min-width: $tablet) {
    @include container($tablet);
  }
  @media (min-width: $desktop) {
    @include container($desktop);
  }
}

.portfolio__title--visually-hidden {
  @extend %visually-hidden;
}

.portfolio__filter {
  margin: 0;
  padding: 0;
  list-style: none;
  @media (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 91px;
    margin-bottom: 40px;
  }
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.portfolio__item {
  @media (max-width: 767px) {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
