.team {
  text-align: center;
  @media (max-width: 1199px) {
    @include section(60px, 60px);
  }

  @media (min-width: $desktop) {
    @include section(94px, 94px);
  }

  background-color: $singleBackground-color;
}

.team__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: $mobile) {
    @include container($mobile);
  }
  @media (min-width: $tablet) {
    @include container($tablet);
  }
  @media (min-width: $desktop) {
    @include container($desktop);
  }
}

.team__title {
  @extend %titleTextList;
  @include title();
  @media (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.team__list {
  @extend %titleTextList;
  @media (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: $desktop) {
    display: flex;
  }
}
